<ion-header [translucent]="true" style="text-align: center">
  <ion-toolbar>
    <ion-title><b>Reset Password</b> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="resetForm">
    <ion-item>
      <ion-input label="Password " labelPlacement="floating" type="{{ showPassword ? 'text' : 'password' }}"
        formControlName="password"></ion-input>
      <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end"
        (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input label="Confirm Password " labelPlacement="floating"
        type="{{showConfirmPassword ? 'text' : 'password'}}" formControlName="confirmPassword"></ion-input>
      <ion-icon name="{{showConfirmPassword?'eye-off' :'eye'}}" slot="end"
        (click)="toggleConfirmPasswordVisibility()"></ion-icon>
    </ion-item>
    <ng-container *ngIf="passwordmatch">
      <ion-text color="danger" style="margin-left:16px; font-size: small;">Password doesn't match.</ion-text>
    </ng-container>
    <div style="text-align: center; margin-top: 25px;">
      <ion-button style="padding-right: 20px;" shape="round" expand="half" (click)="resetPassword()">Reset</ion-button>
      <ion-button shape="round" expand="half" href="/login">Cancel</ion-button>
    </div>
  </form>

</ion-content>