<ion-header [translucent]="true" style="text-align: center">
  <ion-toolbar>
    <ion-title><b>Reset Password</b> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="resetForm">
    <ion-item>
      <ion-input label="Password " labelPlacement="floating" type="{{ showPassword ? 'text' : 'password' }}"
        formControlName="password"></ion-input>
      <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end"
        (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input label="Confirm Password " labelPlacement="floating"
        type="{{showConfirmPassword ? 'text' : 'password'}}" formControlName="confirmPassword"></ion-input>
      <ion-icon name="{{showConfirmPassword?'eye-off' :'eye'}}" slot="end"
        (click)="toggleConfirmPasswordVisibility()"></ion-icon>

    </ion-item>
  </form>

</ion-content>