<ion-header [translucent]="true" style="text-align: center">
  <ion-toolbar>
    <ion-title>
      <b>Login</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-content">
    <form [formGroup]="Loginform">
      <ion-item>
        <ion-input label="Email/User Name" type="email" labelPlacement="floating" placeholder="Enter your email address"
          [clearInput]="true" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password " labelPlacement="floating" type="{{ showPassword ? 'text' : 'password' }}"
          value="password" formControlName="password"></ion-input>

        <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end"
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div style="margin: 20px 0px 20px 20px; color: blue; " (click)="navigateToResetpassword()"><u>Forgot password</u>
      </div>
      <div style="text-align: center; margin-top: 25px;">
        <ion-button shape="round" expand="half" (click)="Login()">Login</ion-button>
        <ion-button shape="round" expand="half" href="/signup">Sign Up</ion-button>
      </div>
    </form>
  </div>
</ion-content>