<ion-header [translucent]="true" style="text-align: center">
  <ion-toolbar>
    <ion-title>
      SignUp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="Signupform">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="fname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-button shape="round" expand="full" st>SignUp</ion-button>
    <ion-button shape="round" expand="full">Login</ion-button>

  </form>
</ion-content>